  #contentConsultas .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .consultas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .parada-link {
    font-weight: bold;
    text-decoration: none;
  }
  
  .lineas-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .consulta-item{
    margin: 10px;
  }
  
  .linea-item {
    display: inline-block;
    padding: 5px 10px;
    background-color: #0070d2;
    color: white;
    margin-right: 5px;
  }
  
  .no-lineas {
    font-style: italic;
    color: red;
  }
  